* {
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
}

img {
    width: 28.5vw;
    height: 28.5vh;
    border-radius: 35% 35% 50% 35%;
    max-width: 100%;
    min-width: 300px;
    height: auto;
    margin: auto auto;
}

section {
   
    display: flex;
    flex-direction: row-reverse;
    max-width: 800px !important;
    width: 80%;
    height: 450px;
    max-height: 450px;
    

}
h1 {
    font-size: 40px;
    color: rgb(29, 158, 190)
   
}
.div-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 550px;
    height: 450px;
    position: relative;
    width: 100%;
}


.div-1 {
   margin-bottom: -10px
}
.div-2 {
    margin-top: -10px;
}
.parragraph {
    font-size: 18px;
    color: rgb(233, 107, 128);
}
.p-div {
    color: rgb(233, 107, 128);
} 
.span-color {
    color: rgb(29, 158, 190);
}
.one {
  display: flex;
}
.p-div {
  position: absolute;
  bottom: 0px;
} 
.div-3 {
    width: 100%;
}

button {
    padding: 12px 18px; 
    border-radius: 5px;
    background-color: rgb(212, 41, 198);
    color: white;
}

@media (max-width: 650px) {
    section {
        flex-direction: column;

    }
    h1 {
   text-align: center;
   font-size: 20px;
    }
    .div-3 {
        display: flex;
        justify-content: center;
        
    }
    .parragraph {
        font-size: 15px;
    }
    .p-div {
   text-align: center;
        top: 130px;
        align-self: center;
        position: static;
    }
}
